{% extends "skeleton.html" %}
{% block content %}
    <div class="dvTitle">
        <p align="center">Aquí se muestran tus almacenes</p>
        <a  href="/storeAdd">
            <img  height="24px" width="24px" title="nuevo almacén"
                 class="styled-button" src="/res/add.svg"/>
        </a>
        <br/>

    </div>
  <div >
	  {% for store in stores %}
	  <div class="dvEntry"><p>
		  <a href="/manageItem?store_id={{store.key.urlsafe()}}">
			  <img width="16px" height="16px" title="entrar"
				   class="styled-button" src="/res/work.svg"/>
		  </a>
		  <a href="/storeModify?store_id={{store.key.urlsafe()}}">
			  <img width="16px" height="16px" title="modificar"
				   class="styled-button" src="/res/modify.svg"/>
		  </a>
		  <a href="/storeDelete?store_id={{store.key.urlsafe()}}">
			  <img width="16px" height="16px" title="eliminar"
				   class="styled-button" src="/res/delete.svg"/>
		  </a>

  <b>Almacén: {{store.name}}</b>: {{store.description}}


            </p>
			</div>
        {% else %}
	  <p align="center">Aún no hay almacenes</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
