{% extends "skeleton.html" %}
{% block content %}

<div class="container">
  <form id="contact" action="/storeAdd" method="post">
    <h3>Crea un nuevo almacén</h3>
    <fieldset>
      <input placeholder="Nombre del almacén" id="stName" name="stName" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Descripción del almacén" id="stDescription" name="stDescription" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>

        <a href="/storeAdd">
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Crear</button>
        </a>
    </fieldset>
  </form>
</div>


{% endblock %}